<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		id="WebApp_ID" version="3.0">

		<servlet>
			<servlet-name>adminLogin</servlet-name>
			<servlet-class>com.admin.LoginServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>adminLogin</servlet-name>
			<url-pattern>/LoginServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>AddStaffServlet</servlet-name>
			<servlet-class>com.servlet.AddStaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AddStaffServlet</servlet-name>
			<url-pattern>/AddStaffServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>UpdateStaffServlet</servlet-name>
			<servlet-class>com.servlet.UpdateStaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>UpdateStaffServlet</servlet-name>
			<url-pattern>/UpdateStaffServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>DeleteStaffServlet</servlet-name>
			<servlet-class>com.servlet.DeleteStaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DeleteStaffServlet</servlet-name>
			<url-pattern>/DeleteStaffServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>GetStaffServlet</servlet-name>
			<servlet-class>com.servlet.GetStaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GetStaffServlet</servlet-name>
			<url-pattern>/GetStaffServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>ListStaffServlet</servlet-name>
			<servlet-class>com.servlet.ListStaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ListStaffServlet</servlet-name>
			<url-pattern>/ListStaffServlet</url-pattern>
		</servlet-mapping>

		<welcome-file-list>
			<welcome-file>adminAccount.html</welcome-file>
			<welcome-file>adminAccount.htm</welcome-file>
			<welcome-file>adminAccount.jsp</welcome-file>
			<welcome-file>adminUI.jsp</welcome-file>
			<welcome-file>adminlogin.html</welcome-file>
			<welcome-file>adminlogin.htm</welcome-file>
			<welcome-file>adminlogin.jsp</welcome-file>
			<welcome-file>index.jsp</welcome-file>
		</welcome-file-list>

	</web-app>
</element>